@using CalorieCounter.Models.ViewModels

@model ProfileViewModel

@{
    ViewData["Title"] = "Profile";
    Layout = null;

    List<string> activityOptions = new List<string>()
    {
        "Sedentary",
        "Lightly active",
        "Moderately active",
        "Very active",
        "Extremely active"
    };

    List<string> genderOptions = new List<string>()
    {
        "male",
        "female"
    };

    string activity = "";
    switch (Model.User.Activity)
    {
        case 1:
            activity = "Sedentary";
            break;
        case 2:
            activity = "Lightly active";
            break;
        case 3:
            activity = "Moderately active";
            break;
        case 4:
            activity = "Very active";
            break;
        case 5:
            activity = "Extremely active";
            break;
    }

    var optionsHtml = new System.Text.StringBuilder();
    foreach (var option in activityOptions)
    {
        var selectedAttribute = activity == option ? "selected" : "";
        optionsHtml.AppendFormat("<option value='{0}' {1}>{2}</option>", option, selectedAttribute, option);
    }

    var gendersHtml = new System.Text.StringBuilder();
    foreach(var gender in genderOptions)
    {
        var selectedAttribute = Model.User.Gender == gender ? "selected" : "";
        gendersHtml.AppendFormat("<option value='{0}' {1}>{2}</option>", gender, selectedAttribute, gender);
    }
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link href="@Url.Content("~/css/Profile.css")" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <title>Profile</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3"
      >
        <div class="container-fluid">
          <button
            class="navbar-toggler custom-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div
            class="navbar-collapse collapse d-sm-inline-flex justify-content-around"
          >
            <ul class="navbar-nav flex-grow-1">
              <li class="nav-item">
                <a
                  class="nav-link"
                  asp-area=""
                  asp-controller="Home"
                  asp-action="Index"
                  >Home</a>
              </li>
              <li
                class="nav-item dropdown"
                onmouseover="showDropdown()"
                onmouseout="hideDropdown()"
              >
                <a
                  class="nav-link"
                  asp-area=""
                  asp-controller="Food"
                  asp-action="Index"
                  >Food</a>
                <div
                  class="dropdown-menu"
                  aria-labelledby="navbarDropdown"
                  id="dropdownMenu"
                >
                  <a
                    class="dropdown-item"
                    asp-area=""
                    asp-controller="Home"
                    asp-action="CreateFood"
                    >Create Food</a>
                  <!-- Add more dropdown options here if needed -->
                </div>
              </li>
              <li class="nav-item" id="nav-it">
                <a
                  class="nav-link"
                  asp-area=""
                  asp-controller="Motivation"
                  asp-action="Index"
                  >Motivation</a>
              </li>
            </ul>
            <ul class="navbar-nav list-inline me-5">
              <li class="nav-item">
                <a
                  class="nav-link"
                  asp-area=""
                  asp-controller="Profile"
                  asp-action="Index"
                  >Profile</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <div class="profile-grid">
      <div class="profile">
        <div class="box-container">
          <div class="user-data-box">
            <div class="info-box">
              <label for="first-name">First Name</label>
              <input type="text" id="first-name" value="@Model.User.FirstName" />
            </div>
            <div class="info-box">
              <label for="last-name">Last Name</label>
              <input type="text" id="last-name" value="@Model.User.LastName" />
            </div>
            <div class="info-box">
              <label for="email">Email</label>
              <input type="email" id="email" value="@Model.User.Email" />
            </div>
            <div class="info-box">
              <label for="age">Age</label>
              <input type="number" id="age" value="@Model.User.Age" />
            </div>
          </div>
          <div class="user-data-box">
            <div class="info-box">
              <label for="weight">Weight (kg)</label>
              <input type="text" id="weight" value="@Model.User.Weight" />
            </div>
            <div class="info-box">
              <label for="height">Height (cm)</label>
              <input type="text" id="height" value="@Model.User.Height" />
            </div>
            <div class="info-box">
              <label for="activity-select">Activity</label>
              <select
                name=""
                id="activity-select"
                class="profile-select">
                    @Html.Raw(optionsHtml.ToString());
              </select>
            </div>
            <div class="info-box">
              <label for="gender-select">Gender</label>
              <select
                name=""
                id="gender-select"
                class="profile-select">
                @Html.Raw(gendersHtml.ToString());
          </select>
            </div>
          </div>
        </div>
        <div class="btn-box">
          <button class="profile-btn">Save</button>
        </div>
      </div>

      <div class="weight">
        <div>
          <p class="weight-text">Weight Progress</p>
        </div>
        <canvas id="weight-chart"></canvas>
      </div>
    </div>

    <script src="~/js/Profile.js"></script>
  </body>
</html>

